.App {
  background-color: #000000;
}

body {
  background-color: #000000;
}

.navbar {
  height: 80px;
}

#About {
  min-height: 100vh;
}

#Skills {
  min-height: 100vh;
}

#profile-picture {
  border: 0;
  width: 265px;
  height: 369px;
  padding: 0;
}

.card {
  width: calc(20rem + 1vmin); 
  height: calc(12rem + 2vmin);
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}