.App {
  background-color: #000000;
}

body {
  background-color: #000000;
}

.navbar {
  height: 80px;
}

#About {
  min-height: 100vh;
}

#Skills, #Projects {
  min-height: 100vh;
}

#Contact, #About-me {
  min-height: 32vh;
}

#profile-picture {
  width: 265px;
  height: 369px;
  padding: 0;
}

.card {
  width: calc(17rem + 1vmin); 
  height: calc(6.5rem + 2vmin);
  padding-left: 8px;
  padding-top: 5px;
  background-color: #1c1c1d;
  color: white;
  box-shadow: 0 5px 25px rgb(3, 49, 199);
}

#skills-header, #projects-header, #contact-header {
  font-size: 3.5ch;
  font-weight: 600;
  color: white;
}

#skill-header-row, #project-header-row {
  margin: 1rem 0 1rem 0;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  border-radius: 10px;
  background-color: rgb(55, 55, 55);
  box-shadow: 
    inset 0 3px 6px white,
    0 5px 16px rgb(3, 49, 199);
  margin: 14px;
}

.project-wrapper {
  width: 70%;
  height: 47%;
  display: inline-block;
}

.project-card {
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(55, 55, 55);
  margin: 14px;
  text-align: center;
  justify-content: center;
  width: 22rem;
  height: 23rem;
}

.project-title {
  color: white;
  font-size: 2ch;
  padding-top: 5px;
}

.project-description, .project-link {
  color: white;
  font-size: 1.4ch;
  margin-bottom: 2px;
}

.social-icon{
  color: white;
  margin-right: 25px;
  font-size: 60px;
  cursor: pointer;
}

h4 {
  font-weight: 700;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
 1px -1px 0 #000;
}